<h1>Editing dispenser</h1>
  <%= render "form", dispenser: @dispenser %>
<br>
<div>
  <%= link_to "Show this dispenser", @dispenser, class: "btn btn-primary" %> |
  <%= link_to "Back to dispensers", dispensers_path, class: "btn btn-secondary" %>
</div>
